<div class="row">
    <form class="col s12 m6 offset-m3" [formGroup]="logInFormGroup" (ngSubmit)="logIn()" autocomplete="off">
        <div class="row">
            <div class="input-field col s12 m12">
                <input id="correo" type="email" class="validate" name="correo" formControlName="correo">
                <label for="correo">Correo electrónico</label>
                <div *ngIf="submitted && getErrors.correo.errors" class="card-panel red lighten-1 white-text">
                    <div *ngIf="getErrors.correo.errors.required">Correo electrónico requerido</div>
                    <div *ngIf="getErrors.correo.errors.email">Ingresa un correo valido</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m12">
                <input class="validate" id="documento" name="documento" type="password" formControlName="documento">
                <label for="documento">Contraseña</label>
                <div *ngIf="submitted && getErrors.documento.errors" class="card-panel red lighten-1 white-text">
                    <div *ngIf="getErrors.documento.errors.required">Tu número de documento es tu contraseña</div>
                </div>
            </div>
        </div>
        <button class="btn teal waves-effect waves-teal col s6 m6 offset-m3 offset-s3" type="submit">Iniciar sesión</button>
    </form>
    <div class="col s12 m6 offset-m3">
        <div class="card-panel teal lighten-5">
            <span class="black-text">¿No estás registrado? Házlo ahora <a routerLink="/signUp">Registrarse</a> </span>
        </div>
    </div>
</div>