<!-- <p> {{ user.id_user == 0 ? '' : user.id_user+'.' }} {{ user.username == '' ? 'Your Username' : user.username }} </p>
<p> {{ user.created_on | date: 'yyyy-MM-dd' }} </p>
<p> {{ user.email }} </p> -->


<form>
  <input type="text" name="documento" [(ngModel)]="user.documento" placeholder="Número de documento">
  <input type="text" name="nombres" [(ngModel)]="user.nombres" placeholder="Nombres">
  <input type="text" name="apellidos" [(ngModel)]="user.apellidos" placeholder="Apellidos">
  <input type="email" name="correo" [(ngModel)]="user.correo" placeholder="Correo">
  <input type="text" [(ngModel)]="user.celular" name="celular" placeholder="Celular">
  <input type="password" *ngIf="!update" name="contrasena" [(ngModel)]="user.contrasena" placeholder="Contraseña">
  <select name="id_role" [(ngModel)]="user.id_role">
    <option *ngFor="let rol of rols" value="{{ rol.id_role }}">{{ rol.name_role | titlecase }}</option>
  </select>
  <button (click)="update ? updateUser() : createUser()" type="submit" class="{{ update ? 'btn btn-blue' : 'btn btn-green'  }}">
    {{ update ? 'Actualizar' : 'Crear' }} </button>

</form>