<p style="text-align:justify;">
    El grupo de <span style="color:#00777e">Investigación, Desarrollo Tecnológico e innovación CTPI SENA Cauca</span>
    <i>(Innovatec)</i> como parte de sus líneas de investigación desarrollar proyectos de investigación aplicada e
    innovación en energías renovables, eficiencia energétìca y gestión de la energía; con lo cual busca aportar en el
    desarrollo regional y nacional mediante los resultados obtenidos en cada uno de los proyectos desarrollados,
    adicionalmente se busca dar soluciones a problemáticas reales de zonas rurales, urbanas, empresariales,
    industriales y en general problemáticas que involucren el uso e integración de las energías renovables de la mano
    de la eficiencia energética.<br><br>
    En está página se podrá encontrar información de cada uno de los proyectos desarrollados en el grupo, proyectos
    futuros e información relacionada con el semillero de investigaciòón en energías renovables, así como estrategias
    de divulgación del conocimiento en las áreas de interés del grupo de investigación; adicionalmente se presenta
    información en tiempo real de diferente variables o sistemas de energías renovables monitoreadas como partes de los
    proyectos desarrollados, así como acceso a la base de datos histórica de los sistemas o variables monitoreadas en
    los proyectos.<br><br>
    A continuación se presenta la gráfica en tiempo real de la <span style="color:red;">irradiancia</span> solar en el
    laboratorio de investigación en energías renovables y eficiencia energética del Centro Teleinformatica Producción
    Industrial del SENA Regional Cauca; para tener acceso a gráficas y bases de datos de interés debe acceder por la
    barra de navegación de cada uno de los proyectos.<br>
</p>

<div class="chartContainer">
    <div id="chart"></div>
</div>