/* @import Font Family Questrial */
/* @font-face {font-family:'Questrial'; font-style: normal; font-weight: 400; src: local('Questrial'), local('Questrial-Regular'), url(../fonts/questrial.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD } */
/* @import Icons */
@font-face {font-family: 'Material Icons'; font-style: normal; font-weight: 400; src: url(../icons/material-icons.woff2) format('woff2') }
.material-icons
  {font-family:'Material Icons'; font-weight:normal; font-style:normal; font-size:1.5em; vertical-align:-6px; line-height:1; letter-spacing:normal; text-transform:none; display:inline-block; white-space:nowrap; word-wrap:normal; direction:ltr; -webkit-font-smoothing:antialiased }

*, *::before, * ::after
  { padding:0; margin:0; box-sizing:border-box; list-style:none; text-decoration:none; outline:none }

html
  { scroll-behavior:smooth; height:100%; box-sizing:border-box; }

/* --- scroll --- */
html::-webkit-scrollbar { width:8px; background:#D2D2D2  }
html::-webkit-scrollbar-thumb { background:#00777e; border-radius:5px; }
html::-webkit-scrollbar-thumb:hover  { background:#008f98  }

/* --- canvasjs --- */
.chartContainer
	{ width:100%; height:auto; margin:1em auto; border:1px solid #eee; overflow:hidden }
.chartContainer #chart 
	{ width:100%; height:400px }
.canvasjs-chart-credit
  { display:none; }

/* --- Slider --- */
.slider
  { height:400px !important; }
.slider > ul.indicators
  { bottom:30px; z-index:2 }
.slider .slides
  { background-color:#fff !important }
.slider .progress
  { position:absolute; top:50%; left:0; right:0; max-width:200px; margin:auto;  }

/* --- Materialize-css modified --- */
nav 
  { -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; }
nav .nav-wrapper ul.right
  { margin-right:1em }

nav .nav-wrapper ul.right .dropdown-trigger:hover i.material-icons
    { transform:rotate(180deg)  }
.dropdown-content a.active, .sidenav a.active
  { background-color: #eee; font-weight:bold; color:#00777e !important }

.dropdown-content
  { padding:0.5em 0; top:100% !important; border-radius:0 0 0.5em 0.5em }

.dropdown-content li>a
  { color:grey !important }

.dropdown-content li>a:hover, .dropdown-content li:hover
  { color:#00777e !important }

.tabs .indicator
  { background-color:#009688 !important }

.tabs .tab a:focus.active
  { background-color:#e5f4f3 !important }

.modal img
  { max-width:223px; width:100%; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2); }

.container
  { margin:1.2em auto !important }

blockquote
  { margin: 20px 0; padding-left:1.5rem; background:#e0f7fa ;  border-left: 5px solid #00bcd4 !important }

.table-responsive
  { width:100%; overflow:auto }
table th
  { white-space:nowrap }
td, th
  { border-right:1px solid #D2D2D2 !important }

.page-footer .footer-copyright
  { padding:0 !important;  }