<!-- <form (ngSubmit)="update ? updateUser() : register()">

	<input type="text" [(ngModel)]="user.documento" name="documento" placeholder="Número de documento">
	<input type="text" [(ngModel)]="user.nombres" name="nombres" placeholder="Nombres">
	<input type="text" [(ngModel)]="user.apellidos" name="apellidos" placeholder="Apellidos">
	<input type="email" [(ngModel)]="user.correo" name="correo" placeholder="Correo">
	<input type="text" [(ngModel)]="user.celular" name="celular" placeholder="Celular">

	<input type="password" *ngIf="!update" [(ngModel)]="user.contrasena" name="contrasena" placeholder="Contraseña">
	<input type="password" *ngIf="!update" [(ngModel)]="user.confirmarContrasena" name="confirmarContrasena" placeholder="Repite tu contraseña">

	<input *ngIf="update" type="text" value="{{ user.name_role | titlecase }}" disabled>

	<select *ngIf="!update" name="id_role" [(ngModel)]="user.id_role">
		<option *ngFor="let rol of rols" value="{{ rol.id_role }}">{{ rol.name_role | titlecase }}</option>
	</select>

	<button type="submit" class="{{ update ? 'btn btn-blue' : 'btn btn-green'  }}"> {{ update ? 'Actualizar' : 'Registrarse' }} </button>

</form> -->

<div class="row">
	<!-- Warning -->
	<div class="col m6 s12 l6 offset-l3">
		<div class="card-panel orange lighten-5">
			<ul>
				<li>Campos con asteriscos(*) son obligatorios.</li>
				<li>Número de documento sin puntos(.), comas(,) y sin espacios.</li>
			</ul>
		</div>
	</div>
	<!-- Formmulario -->
	<form class="col s12" [formGroup]="signUpForm" (ngSubmit)="update ? updateUsuario() : signUp()" autocomplete="off">
		<div class="row">
			<!-- tipo de documento -->
			<div class="input-field col l3 offset-l3">
				<p *ngFor="let tipo_documento of tipos_documento">
					<label class="{{ submitted && getErrors.id_tipo_documento.errors ? 'red-text' : '' }}">
						<input class="with-gap" name="id_tipo_documento" type="radio" [value]="tipo_documento.id_tipo_documento" formControlName="id_tipo_documento" [(ngModel)]="cuenta.id_tipo_documento"/>
						<span>{{ tipo_documento.nombre_tipo_documento | titlecase }} *</span>
					</label>
				</p>
			</div>
			<!-- / -->
			<!-- Número de documento -->
			<div class="input-field col l3">
				<input class="validate {{ submitted && getErrors.documento.errors ? 'invalid' : '' }}" id="documento" name="documento" type="tel" formControlName="documento" value="{{ cuenta.documento == 0 ? '' : '' }}" [(ngModel)]="cuenta.documento">
				<label for="documento" class="{{ cuenta.documento ? 'active' : '' || submitted && getErrors.documento.errors ? 'active' : '' }}">Número de documento *</label>
				<span class="helper-text" data-error="Requerido" data-success="Correcto"></span>
			</div>
			<!-- / -->
		</div>
		<div class="row">
			<!-- Primer nombre -->
			<div class="input-field col l3 offset-l3">
				<input class="validate {{ submitted && getErrors.primer_nombre.errors ? 'invalid' : '' }}" id="primer_nombre" name="primer_nombre" type="text" formControlName="primer_nombre" [(ngModel)]="cuenta.primer_nombre">
				<label for="primer_nombre" class="{{ cuenta.primer_nombre ? 'active' : '' || submitted && getErrors.primer_nombre.errors ? 'active' : '' }}">Primer nombre *</label>
				<span class="helper-text" data-error="Requerido" data-success="Correcto"></span>
			</div>
			<!-- / -->
			<!-- Segundo Nombre -->
			<div class="input-field col l3">
				<input id="segundo_nombre" type="text" class="validate" name="segundo_nombre" formControlName="segundo_nombre" [(ngModel)]="cuenta.segundo_nombre">
				<label for="segundo_nombre" class="{{ cuenta.segundo_nombre ? 'active' : '' }}">Segundo nombre (Opcional)</label>
			</div>
			<!-- / -->
		</div>
		<div class="row">
			<!-- Primer apellido -->
			<div class="input-field col l3 offset-l3">
				<input class="validate {{ submitted && getErrors.primer_apellido.errors ? 'invalid' : '' }}" id="primer_apellido" type="text" name="primer_nombre" formControlName="primer_apellido" [(ngModel)]="cuenta.primer_apellido">
				<label for="primer_apellido" class="{{ cuenta.primer_apellido ? 'active' : '' || submitted && getErrors.primer_apellido.errors ? 'active' : '' }}">Primer apellido *</label>
				<span class="helper-text" data-error="Requerido" data-success="Correcto"></span>
			</div>
			<!-- / -->
			<!-- Segundo Apellido -->
			<div class="input-field col l3">
				<input id="segundo_apellido" type="text" name="segundo_apellido" formControlName="segundo_apellido" [(ngModel)]="cuenta.segundo_apellido">
				<label for="segundo_apellido" class="{{ cuenta.segundo_apellido ? 'active' : '' }}">Segundo apellido (Opcional)</label>
			</div>
			<!-- / -->
		</div>
		<div class="row">
			<!-- Celular -->
			<div class="input-field col l3 offset-l3">
				<input id="celular" type="tel" class="validate" name="celular" formControlName="celular" value="{{ cuenta.celular == 0 ? '' : '' }}" [(ngModel)]="cuenta.celular">
				<label for="celular" class="{{ cuenta.celular ? 'active' : '' }}">Celular o Teléfono (Opcional)</label>
			</div>
			<!-- / -->
			<!-- Correo -->
			<div class="input-field col l3">
				<input class="validate {{ submitted && getErrors.correo.errors ? 'invalid' : '' }}" id="correo" type="email" name="correo" formControlName="correo" [(ngModel)]="cuenta.correo">
				<label for="correo" class="{{ cuenta.correo ? 'active' : '' || submitted && getErrors.correo.errors ? 'active' : '' }}">Correo electrónico *</label>
				<span class="helper-text" data-error="Correo incorrecto" data-success="Correcto">example@empresa.com</span>
			</div>
			<!-- / -->
			<!-- Roles -->
			<div class="input-field col offset-l3">
				<!-- <select name="id_rol" formControlName="id_rol">
					<option value="" disabled selected>Escoge tu cargo *</option>
					<option *ngFor="let rol of rols" value="{{ rol.id_rol }}">{{ rol.nombre_rol | uppercase }}</option>
				</select> -->
				<p *ngFor="let rol of roles">
					<label>
						<input class="with-gap" name="id_rol" type="radio" [value]="rol.id_rol" formControlName="id_rol" [(ngModel)]="cuenta.id_rol"/>
						<span>{{ rol.nombre_rol | titlecase }} *</span>
					</label>
				</p>
				<div *ngIf="submitted && getErrors.id_rol.errors" class="card-panel red lighten-1 white-text">
					<div *ngIf="getErrors.id_rol.errors.required">Tipo de rol que tienes</div>
				</div>
			</div>
			<!-- / -->
		</div>
		<button class="btn {{ update ? 'blue col s3 m2 offset-m5 waves-effect waves-light' : 'teal col s6 m2 offset-m5 offset-s3 waves-effect waves-light' }}" type="submit">{{ update ? 'Guardar cambios' : 'Registrarse' }}</button>
		<button (click)="cancelarUpdate()" *ngIf="update" class="btn red waves-effect waves-light {{ update ? 'col s3 m2 offset-m3 offset-s6' : '' }}">Cancelar</button>
	</form>
	<div class="col s12 m6 offset-m3">
		<div class="card-panel teal lighten-5">
			<span class="black-text">Recuerda tu correo y número de documento son tus credenciales</span>
		</div>
	</div>
</div>