<footer class="page-footer teal lighten-1">
    <div class="container">
        <div class="row">
            <div class="col s12 m3">
                <h5>Páginas</h5>
                <ul>
                    <li><a class="white-text" target="_blank" href="http://www.sena.edu.co/es-co/Paginas/default.aspx"><i class="material-icons">launch</i> Sena</a></li>
                    <li><a class="white-text" href="javascript:void(0)"><i class="material-icons">launch</i> Sena Regional</a></li>
                    <li><a class="white-text" target="_blank" href="https://ctpisenacauca.blogspot.com/"><i class="material-icons">launch</i> CTPI Regional Cauca</a></li>
                    <li><a class="white-text" target="_blank" href="http://www.sena.edu.co/es-co/formacion/Paginas/tecnologia-innovacion.aspx"><i class="material-icons">launch</i> Sennova</a></li>
                </ul>
            </div>
            <div class="col sl2 m3">
                <h5>Conócenos</h5>
                <ul>
                    <li><a class="white-text" routerLink="/contactanos"><i class="material-icons">alternate_email</i>Contáctanos</a></li>
                    <li><a class="white-text" routerLink="/acerca_de"><i class="material-icons">info</i>Acerca de</a></li>
                </ul>
            </div>
            <div class="col sl2 m3">
                <img src="../assets/media/imagotipos/logoInnovatec.png" class="white" style="width:100%; max-width:300px">
                <p class="white-text" align="center">Investigación, Desarrollo Tecnológico e innovación CTPI SENA Cauca</p>
            </div>
            <div class="col sl2 m3">
                <img src="../assets/media/imagotipos/logoSemillero.jpg" style="width:100%; max-width:300px">
                <p align="justify">Semillero de investigación en energias renovables y eficiencia energética del centro de teleinformática y produccion industrial</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © {{ annoNow | date:'yyyy' }} Copyright Innovatec
        </div>
    </div>
</footer>