<button class="btn-flat teal-text waves-teal waves-effect" [routerLink]="['/admin/users/create']">Crear nuevo usuario</button>
<div class="table-responsive">
  <table class="striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Tipo de documento</th>
        <th>N. Documento</th>
        <th>Primer nombre</th>
        <th>Segundo nombre</th>
        <th>Primer apellido</th>
        <th>Segundo apellido</th>
        <th>Celular</th>
        <th>Correo</th>
        <th>Fecha de creación</th>
        <th>Rol</th>
        <th>Actualizar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td> {{ usuario.id_cuenta }} </td>
        <td> {{ usuario.nombre_tipo_documento | titlecase }} </td>
        <td> {{ usuario.documento }} </td>
        <td> {{ usuario.primer_nombre | titlecase }} </td>
        <td> {{ usuario.segundo_nombre | titlecase }} </td>
        <td> {{ usuario.primer_apellido | titlecase }} </td>
        <td> {{ usuario.segundo_apellido | titlecase }} </td>
        <td> {{ usuario.celular }} </td>
        <td> {{ usuario.correo }} </td>
        <td> {{ usuario.fecha_creacion | date: 'yyyy-MM-dd' }} </td>
        <td> {{ usuario.nombre_rol | titlecase }} </td>
        <td> <button class="btn-flat waves-effect waves-blue blue-text" [routerLink]="['/admin/usuario/update', usuario.id_cuenta]"><i class="medium material-icons">edit</i></button> </td>
        <td> <button class="btn-flat waves-effect waves-red red-text" (click)="deleteUser(usuario.id_cuenta)"><i class="medium material-icons">close</i></button> </td>
      </tr>
    </tbody>
  </table>
</div>