<nav class="nav-extended white black-text">
    <div class="nav-wrapper">
        <a routerLink="/" class="brand-logo" style="height:100%; display:flex; align-items:center; margin-left:1em;">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 507.17 434.13" style="width:70px; height:100%;">
                <title>Inicio</title>
                <g id="Capa_5" data-name="Capa 5">
                    <path
                        d="M349.74,111.65h0a41.22,41.22,0,0,0-.19-58.1l-.4-.4a41.22,41.22,0,0,0-58.3,0h0a41.22,41.22,0,0,0,.2,58.5l.4.39A41.22,41.22,0,0,0,349.74,111.65Z"
                        transform="translate(-66.56 -39.58)" fill="#000" stroke="#000" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="3" />
                </g>
                <g id="sena">
                    <path
                        d="M86.18,193.05l33-1.38a13.92,13.92,0,0,0,4.37,8.18q5.37,4.54,15.33,4.55,7.43,0,11.46-2.33t4-5.39q0-2.91-3.83-5.21t-17.78-4.34q-22.84-3.44-32.58-9.1t-9.81-14.46q0-5.77,5-10.91t15.1-8.07q10.08-2.94,27.63-2.94,21.54,0,32.84,5.34t13.45,17l-32.72,1.28a11.15,11.15,0,0,0-5.48-7.36q-4.18-2.29-11.54-2.3-6,0-9.12,1.71t-3.06,4.17c0,1.19.84,2.26,2.53,3.22s5.51,1.9,11.65,2.76q22.76,3.27,32.61,6.61t14.33,8.3a16.13,16.13,0,0,1,4.48,11.09q0,7.2-6,13.29T165.43,216q-10.74,3.14-27.06,3.14-28.66,0-39.7-7.36T86.18,193.05Z"
                        transform="translate(-66.56 -39.58)" fill="#000" stroke="#000" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="3" />
                    <path d="M205.51,142.93h93v16H240.3v11.91h54V186.1h-54v14.77h59.94v17H205.51Z"
                        transform="translate(-66.56 -39.58)" fill="#000" stroke="#000" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="3" />
                    <path d="M319.17,142.93h32.42l42.3,41.44V142.93h32.73v74.9H393.89l-42.07-41.12v41.12H319.17Z"
                        transform="translate(-66.56 -39.58)" fill="#000" stroke="#000" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="3" />
                    <path
                        d="M517.23,205.47H477.81l-5.47,12.36H436.89l42.23-74.9H517l42.22,74.9H522.85Zm-7.2-16.2-12.4-26.92-12.28,26.92Z"
                        transform="translate(-66.56 -39.58)" fill="#000" stroke="#000" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="3" />
                </g>
                <g id="guiasBody">
                    <path d="M68.06,231.27" transform="translate(-66.56 -39.58)" fill="#000" />
                </g>
                <g id="body">
                    <path id="_1set" data-name="1set"
                        d="M68.06,270.9l149,.07a13,13,0,0,1,11.29,19.6L153,419.5l33.91,25,124.34-213.2H68.06Z"
                        transform="translate(-66.56 -39.58)" fill="#000" stroke="#000" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="3" />
                    <path id="_1set-2" data-name="1set"
                        d="M572.23,270.91,423.67,271a13,13,0,0,0-11.26,19.6L487.5,419.5l-33.8,25-124-213.19H572.23Z"
                        transform="translate(-66.56 -39.58)" fill="#000" stroke="#000" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="3" />
                    <path id="_1set-3" data-name="1set"
                        d="M435.71,456.34,319.6,258.23,205.87,456.34l36.18,15.87L312.58,346.5a9.29,9.29,0,0,1,16.25.09l68.65,125.62Z"
                        transform="translate(-66.56 -39.58)" fill="#000" stroke="#000" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="3" />
                </g>
            </svg>
            <span style="font-size:1.3em; font-weight:bold; margin:auto 0.3em; color:#D2D2D2">+</span>
            <img src="./assets/media/isotipos/iconInnovatec.png" style="width:50px; height:100%;">
            <div class="black-text right hide-on-med-and-down" style="font-size:0.7em">
                I+D+I - CTPI energías renovables y eficiencia energética
            </div>
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger black-text"><i class="material-icons">menu</i></a>
        <ul class="sidenav" id="mobile-demo">
            <!-- collapsible -->
            <ul class="collapsible expandable">
                <li class="active">
                    <div class="collapsible-header">Proyectos de investigación</div>
                    <div class="collapsible-body">
                        <li><a routerLinkActive="active" routerLink="/proyectos_investigacion/alumbrado">Alumbrado público</a></li>
                        <li><a routerLinkActive="active" routerLink="/proyectos_investigacion/potabilizacion">Potabilización de agua</a></li>
                        <li><a routerLinkActive="active" routerLink="/proyectos_investigacion/integracion">Integración de energías</a></li>
                        <li><a routerLinkActive="active" routerLink="/proyectos_investigacion/reguladores">Reguladores FV</a></li>
                        <li><a routerLinkActive="active" routerLink="/proyectos_investigacion/refrigeracion">Refrigeración</a></li>
                        <li><a routerLinkActive="active" routerLink="/proyectos_investigacion/gestionar">Gestión de Carga</a></li>
                        <li><a routerLinkActive="active" routerLink="/proyectos_investigacion/solares">Seguidores Solares</a></li>
                        <li><a routerLinkActive="active" routerLink="/proyectos_investigacion/agricultura">Agricultura</a></li>
                    </div>
                </li>
                <li class="active">
                    <div class="collapsible-header">Semilleros de investigación</div>
                    <div class="collapsible-body">
                        <li><a routerLink="/">Objetivos y lineas</a></li>
                        <li><a routerLink="/">Oferta de proyectos</a></li>
                        <li><a routerLink="/">Integrantes</a></li>
                        <li><a routerLink="/">Proyectos en desarrollo</a></li>
                        <li><a routerLink="/">Resultados</a></li>
                        <li><a routerLink="/signUp">Regístrate</a></li>
                    </div>
                </li>
            </ul>
        </ul>
        <ul class="right hide-on-med-and-down">
            <!-- dropdown header -->
            <li><a class="dropdown-trigger teal-text" data-target="proyectos_investigacion">Proyectos de investigación<i class="material-icons right">expand_more</i></a></li>
            <li><a class="dropdown-trigger teal-text" data-target="semilleros_investigacion">Semilleros de investigación<i class="material-icons right">expand_more</i></a></li>
            <li><a class="dropdown-trigger teal-text" data-target="auth"><i class="material-icons right">person</i></a></li>
            <!-- dropdown-content -->
            <ul id='proyectos_investigacion' class='dropdown-content'>
                <li><a routerLinkActive="active" routerLink="/proyectos_investigacion/alumbrado">Alumbrado público</a></li>
                <li><a routerLinkActive="active" routerLink="/proyectos_investigacion/potabilizacion">Potabilización de agua</a></li>
                <li><a routerLinkActive="active" routerLink="/proyectos_investigacion/integracion">Integración de energías</a></li>
                <li><a routerLinkActive="active" routerLink="/proyectos_investigacion/reguladores">Reguladores FV</a></li>
                <li><a routerLinkActive="active" routerLink="/proyectos_investigacion/refrigeracion">Refrigeración</a></li>
                <li><a routerLinkActive="active" routerLink="/proyectos_investigacion/gestionar">Gestión de Carga</a></li>
                <li><a routerLinkActive="active" routerLink="/proyectos_investigacion/solares">Seguidores Solares</a></li>
                <li><a routerLinkActive="active" routerLink="/proyectos_investigacion/agricultura">Agricultura</a></li>
            </ul>
            <ul id='semilleros_investigacion' class='dropdown-content'>
                <li><a routerLink="/semilleros_investigacion/objetivos_lineas">Objetivos y lineas</a></li>
                <li><a routerLink="/semilleros_investigacion/oferta_proyectos">Oferta de proyectos</a></li>
                <li><a routerLink="/semilleros_investigacion/integrantes">Integrantes</a></li>
                <li><a routerLink="/semilleros_investigacion/proyectos_desarrollo">Proyectos en desarrollo</a></li>
                <li><a routerLink="/semilleros_investigacion/resultados">Resultados</a></li>
                <li><a routerLink="/signUp">Regístrate</a></li>
            </ul>
            <ul id='auth' class='dropdown-content'>
                <li><a routerLink="/logIn">Iniciar sesión</a></li>
                <li><a (click)="logOut()">Cerrar sesión</a></li>
            </ul>
        </ul>
    </div>
</nav>

<!-- modal -->
<div class="fixed-action-btn">
    <a class="btn-floating grey lighten-5 pulse waves-effect waves-teal btn-large modal-trigger tooltipped" href="#comofuncionapagina" data-position="left" data-tooltip="¿Cómo funciona?"><i class="large material-icons black-text">info_outline</i></a>
</div>
<div id="comofuncionapagina" class="modal">
    <div class="modal-content">
        <h4>¿Cómo funciona nuestra página?</h4>
        <div class="row">
            <blockquote> Breve guía de la página </blockquote>
            <div class="card">
                <div class="card-content black-text">
                    <p>Para la visualización de datos en tiempo real, hacer consultas, y descargar artículos, debes iniciar sesión <a routerLink="/logIn">aquí</a>.</p>
                </div>
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab"><a class="teal-text" href="#proyectosInvestigacion">Proyectos de investigación</a></li>
                        <li class="tab"><a class="teal-text" href="#semilleroInvestigacion">Semilleros de investigación</a></li>
                    </ul>
                </div>
                <div class="card-content grey lighten-4">
                    <div id="proyectosInvestigacion" class="row">
                        <div class="col s12 m8">
                            <div>
                                <p>El link desplegable de <span style="color:#00777e">Proyectos de investigación</span> que se encuentra en la barra de navegación, podrás ingresar a cualquier proyectos que están haciendo ejecutados</p>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <img src="../../../assets/media/how_does_it_work/1er-step.png">
                        </div>
                    </div>
                    <div id="semilleroInvestigacion" class="row">
                        <div class="col s12 m8">
                            <div>
                                <p>El link desplegable de <span style="color:#00777e">Proyectos de investigación</span> que se encuentra en la barra de navegación, podrás ingresar a cualquier proyectos que están haciendo ejecutados</p>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <img src="../../../assets/media/how_does_it_work/2er-step.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-teal btn-flat">Listo</a>
    </div>
</div>